<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Cursos</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <main>
        <header>
            <div class="navbar">
                <a href="./index.html"><img src="../img/soulcode logo.png" alt="flower logo"></a> 
                <div class="links">
                    <a href="./login.html">Entrar</a>
                    <a href="./favoritos.html">Favoritos</a>
                    <a href="./lista-leitura.html">Lista de Leitura</a>
                </div>       
            </div>
        </header>    
        <h1>Lista de Leitura</h1>
        <footer>
            <label for="email">Se inscreva para receber e-mails com novidades e promoções.</label>
            <input type= "email" id="email" placeholder="Endereço de e-mail">
            <input type="submit" value="Enviar">
        </footer>
    </main>
</body>
</html>