<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jonatas de Assis">
    <title> Acesso ao Site</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="..css/loginstyle.css">
</head>
<body>
    <main>
        <header>
            <div class="navbar">
                <a href="./index.html"><img src="../img/soulcode logo.png" alt="flower logo"></a> 
                <div class="links">
                    <a href="./index.html">Voltar</a>
                    <a href="./favoritos.html">Favoritos</a>
                    <a href="./lista-leitura.html">Lista de Leitura</a>
                </div>       
            </div>
        </header>     
        <div class="container">
            <div class="login">
                <label for="usuario"> Usuário:</label>
                <input type="text" id="usuario" placeholder="Digite seu usuário">
            </div>  
            <div class="senha">
                <label for="senha"> Senha (8 caracteres mín..):</label>
                <input type="password" id="senha" minlength="8" required maxlength="14" required placeholder="Digite sua senha">
            </div> 
            <section name="button">
                <button type="submit">Login </button>
                <button type="submit">Cadastre-se</button>
            </section> 
        </div>
    <footer>
        <label for="email">Se inscreva para receber e-mails com novidades e promoções.</label>
        <input type= "email" id="email" placeholder="Endereço de e-mail">
        <input type="submit" value="Enviar">
    </footer>
    </main>
</body>
</html>